extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")
  
block content
  head
    title Contact
  body
    h1 Student Contacts
    table
      thead
        tr
          th Name
          th Student ID
          th Email  
     
      tbody
        
        tr
          td 
          td 
          td 
        tr
          td John
          td 1234789
          td johnA@gmail.com
        
        tr
          td Ava
          td 1673849
          td AvaG@gmail.com

        tr
          td Mimi
          td 1235688
          td MimH@gmail.com
        tr
          td Susan
          td 7653567
          td SusanD@gmail.com
        tr
          td Abraham
          td 98438296
          td AbrahamT@gmail.com
          


