extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")
  
block content
  head
    title Contact
  body
    h1 Student Contacts
    table
      thead
        tr
          th Quiz
          th Grade Quizez
           
     
      tbody
      
        tr
          td quiz 1
          td Start marking
        
        
        tr
          td quiz 2
          td Start marking
         

        tr
          td quiz 3
          td Start marking
          
        tr
          td quiz 4
          td Start marking
          
        tr
          td quiz 5
          td Start marking
          
          


