extends layout.pug 

block content   
    h2 Staff Dashboard
    p
        |Dash board

    <a href="/teacherviewreport">
      button(type="button") View reports
    </a>
    
    <a href="/savedreports">
      button(type="button") Saved Reports 
    </a>

    <a href="/viewquiz">
      button(type="button") View quiz
    </a>

    <a href="/assignquiz">
      button(type="button") Assign quiz
    </a>

    <a href="/gradequiz">
      button(type="button") Grade quiz
    </a>

    <a href="/contactstudents">
      button(type="button") Contact students
    </a>

    <a href="/staffdash">
      button(type="button") Log out
    </a>