extends layout.pug 

block content   
    h2 View Reports
    

    <a href="/studentviewreport">
      button(type="button") Continent Population
    </a>
    
    <a href="/studentviewreport">
      button(type="button") Region Population
    </a>

    <a href="/countries">
      button(type="button") Country Population
    </a>

    <a href="/studentviewreport">
      button(type="button") District Population
    </a>

    <a href="/cities">
      button(type="button") City population
    </a>
    <a href="/countrylanguage">
      button(type="button") Country Language
    </a>


    