extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")
  
block content
  head
    title Contact
  body
    h1 Student Contacts
    table
      thead
        tr
          th Quiz
          th Visble to students
           
     
      tbody
      
        tr
          td quiz 1
          td visible
        
        
        tr
          td quiz 2
          td Not visible
         

        tr
          td quiz 3
          td visible
          
        tr
          td quiz 4
          td visible
          
        tr
          td quiz 5
          td visible
          
          


