extends layout.pug
//this 'block content' section main containns of the tempelates.
block head
  link(rel="stylesheet", href="/cities.css")

block content
  h2 Reports
  table
    thead
      th.text-center 🏴
      th City
      th.number Population
    tbody
      each row in rows
        tr
          td.fit #{row.CountryCode}
          td #{row.Name}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
        
//this table makes cities with their country codes and population which can be labled using the cities.css file
