extends layout.pug 
*by using 'extends' uses the layout.pug which allows the gallery page to use the common elements defined in the file*/
block content   
    h2 Welcome

    .gallery 
        each idx in Array.from(Array(1).keys())
            img.gallery-img(src=`https://source.unsplash.com/random/${idx}`, alt="")
