.layout
      .layout-nav
        include mixins/nav
        +navigation()

block head
  link(rel="stylesheet", href="/login.css")
  
  block content
    title Signup

  body
    
     form
       div.label Signup with your organisation email
       div.username
        input(type="text" placeholder="Enter organisation email")
       div.password
        input(type="password" placeholder="Password")
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember details
       button(type="button") Signup!
      
       p
        | 
       