extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")
  
block content
  head
    title Contact
  body
    h1 Assign quiz
    table
      thead
        tr
          th Quiz 
          th Visble to students
          th Assign  Quiz
           
     
      tbody
      
        tr
          td Quiz 1
          td Visble
          td Assign  OR  Dont Assign
        tr
          td Quiz 2
          td Visble
          td Assign  OR  Dont Assign
         
        tr
          td Quiz 3
          td Visble
          td Assign  OR  Dont Assign
          
        tr
          td Quiz 3
          td Not Visble
          td Assign  OR  Dont Assign
          
        tr
          td Quiz 3
          td Not Visble
          td Assign  OR  Dont Assign
          
          




