extends layout.pug
block head
  link(rel="stylesheet", href="/cities.css")

block content
  h1 Country Languages
  table
    tr
      th Language
      th Is Official
      th Percentage
    each lang in countryLanguage
      tr
        td= lang.Language
        td= lang.IsOfficial
        td= lang.Percentage