extends layout.pug 
block content   
    h2 Student Dashboard
    p
        |Dash board

    <a href="/cities">
      button(type="button") View reports
    </a>
    
    <a href="/saved">
      button(type="button") Saved Reports 
    </a>

    <a href="/studentdash">
      button(type="button") View quiz
    </a>

    <a href="/studentdash">
      button(type="button") submit quiz
    </a>

    <a href="/studentfdash">
      button(type="button") Contact teachers
    </a>

    <a href="/studentdash">
      button(type="button") Log out
    </a>


